@charset "UTF-8";

body{
  margin:auto;
  width:900px;
  font-family:arial;
  font-size:normal;
}
header{
  margin-top:-20px;
  height:100px;
}
footer{
  height:80px;
  text-align:center;
}
header, footer{
  width:100%;
  background-color:#2b2b2b;
  color:white;
}
header a, footer a{
	text-decoration:none;
  color:white;
}
main{
  width:90%;
  position:relative;
}
article{
  margin:auto 20px;
  width:200px;
  float:left;
}
p{
  text-align:justify;
}
ul{
  text-align:right;
  margin:auto;
}
li{
  display:inline-block;
  margin:auto 10px;
}
h1.logo{
  font-family:sans-serif;
  color:orange;
  position:static;
  float:left;
}
figure img{
  background-position:right top;
}
head::placeholder{position:sticky;}
