@charset "UTF-8";

body{
  font-family:arial;
  font-size:normal;
}
header{
  margin-top:-20px;
  height:100px;
}
footer{
  height:80px;
  text-align:center;
}
header, footer{
  width:100%;
  background-color:rgb(50, 50, 50);
  color:#ffffff;
}
header a, footer a{
	text-decoration:none;
  color:#ffffff;
}
main.esposition{
  background-color:rgb(240, 240, 240);
  margin:-20px auto;
}
section{
  position:relative;
  margin:0px 10%;
  padding-top:40px;
  padding-bottom:40px;
}
article{
  width:200px;
  float:left;
}
article.article-two{
  margin:auto 12%;
}
p{
  text-align:justify;
}
ul{
  text-align:right;
  margin:auto;
}
li{
  display:inline-block;
  margin:auto 10px;
}
h1.logo{
  font-family:sans-serif;
  position:static;
  float:left;
}
h1.logo:hover{
  color:#f99442;
}
figure.last-fig{
  float:right;
  position:relative;
  margin:20px auto auto 10px;
}

