@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap');

body{
  font-family: 'Noto Sans TC', sans-serif;
  font-size:14px;
  text-align:justify;
  width:960px;
  margin-left:auto;
  margin-right:auto;
}
header{
  margin-top:-20px;
  height:140px;
}
footer{
  clear:both;
  height:70px;
  margin-bottom:-20px;
  margin-top:20px;
  text-align:center;
}
header, footer{
  width:100%;
  background-color:rgb(50, 50, 50);
  color:#ffffff;
  font-family:'Concert One', cursive;
}
header a, footer a{
	text-decoration:none;
  color:#ffffff;
}
footer p{
  position:absolute;
  width:100%;
}
.esposition{
  background-color:rgb(240, 240, 240);
  margin:-20px auto;
}
.primary, .secundary{
  margin:auto 10%;
  padding-top:40px;
  padding-bottom:40px;
}
nav.hconfg{
  display:block;
}
ul{
  text-align:right;
  position:absolute;
  right:10%;
  top:20px;
}
li{
  display:inline-block;
  margin-right:20px;
}
li:hover{
  transition:color 1s;
  color:#f99442;
}
h1.logo{
  position:absolute;
  margin-left:10%;
  font-size:35px;
  font-family:'Pacifico', cursive;
}
input{
  background-color:#f99442;
  color:#fff;
  font-family:sans-serif;
  border-radius:5px;
  border-color:#f99442;
}