body {
    font-family: Nunito, sans-serif;
    color: #1c1c1c;
}

h1, h2, h3 {
    font-family: Asap, sans-serif;
    color: #000000;
}

.button {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 30px;
    background-color: #191970;
    font-size: .9em;
    border-radius: 3px;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #191970;
}

nav > a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 800;
    font-size: 32px;
    font-family: Yellowtail serif;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 100%;
}

nav ul li {
    text-align: center;
    width: 100%
}

nav ul li a {
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: #ffffff;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../_pictures/camera.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

header h1 {
    color: #ffffff;
}

header p {
    margin-bottom: 2em;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 10px 20px 20px;
    background-color: #191970;
    color: #ffffff;
}

#about h2 {
    color: #ffffff;
}

#about p {
    margin-bottom: 2.5em;
    max-width: 1000px;
}

#about .button {
    background-color: #f1f1f1;
    color: #1c1c1c;
}

#services {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

#services div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

#photos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#photos h2 {
    margin-bottom: 20px;
}

#photos img {
    width: 100%;
}

#contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #191970;
    color: #ffffff;
}

footer a {
    text-decoration: none;
    color: #00ffff;
}

@media screen and (min-width: 768px) {
    nav {
        flex-direction: row;
        justify-content: space-around;
    }

    nav ul {
        flex-direction: row;
        width: 70%;
    }

    header {
        height: 600px;
        height: 60vh;
        justify-content: center;
    }

    #about {
        height: 250px;
        height: 30vh;
        justify-content: center;
        min-height: 250px;
    }

    #services {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        max-width: 1000px;
        margin: 0 auto;
    }

    #services h2 {
        text-align: center;
        width: 100%;
    }

    #services div {
        flex-grow: 1;
        flex-basis: 150px;
        padding: 0 10px;
    }

    #photos {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #photos h2 {
        width: 100%;
        text-align: center;
    }

    #photos img {
        width: 33.333%
    }

    #contacts {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    #contacts h2, #contacts p {
        width: 100%;
    }
}